/* Links at the bottom of sidebar */
.links {
  text-align: center;
}
.links li {
  list-style: none;
  display: inline-block;
  margin: 0.1rem;
}

/* Information below post title */
.post-info .post-date {
  display: inline-block;
  margin-right: 1rem;
}
.post-info {
  margin-top: -0.55rem;
  margin-bottom: 0.5rem;
  padding-left: 0.15rem;
  font-size: 0.8rem;
  color: #9a9a9a;
}

/* NotoSansCJKtc-Medium */
@font-face {
  font-family: 'NotoSansCJKtc';
  font-style: normal;
  font-weight: 700;
  src: url('../webfonts/NotoSansCJKtc-Medium.otf') format("opentype");
  unicode-range: U+4E00-9FA5;
}

/* NotoSansCJKtc-DemiLight */
@font-face {
  font-family: 'NotoSansCJKtc';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/NotoSansCJKtc-DemiLight.otf') format("opentype");
  unicode-range: U+4E00-9FA5;
}